$color-yellow: #fef6e9;
$color-light-gray: #cccccc;
$color-medium-gray: #E1DFDD;
$color-dark-gray: #605E5C;
$color-black: #000000;
$color-bright-green: #55c10e;
$color-white: #ffffff;
$color-orange: #ffc000;

$theme-color-primary: "[theme: themePrimary, default: #005172]";
$theme-color-lighter-alt-primary: "[theme: themeLighterAlt, default: #eff7f9]";
$theme-color-black: "[theme: neutralPrimary, default: #000000]";
$theme-color-lighter-black: "[theme: neutralSecondary, default: #444444]";
$theme-color-white: "[theme: white, default: #ffffff]";
$theme-color-gray: "[theme: neutralLighterAlt, default: #faf9f8]";
$theme-color-lighter-gray: "[theme: neutralLighter, default: #f3f2f1]";
$theme-color-medium-gray: "[theme: neutralQuaternaryAlt, default: #e1dfdd]";
